:root {
    --white: hsl(0, 0%, 100%);
    --gray: hsla(228, 85%, 92%, 0.863);
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;align-self: center;
    text-align: center;
    height: 100vh;
    padding: 10px;
    border-radius: 20px;
}

.left-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 15rem;
    height: 20rem;
    color: var(--white);
    background-image: linear-gradient(hsla(252, 100%, 67%, 1) , hsla(241, 81%, 54%, 1) 80%);
    border-radius: 20px;
}

.section-title {
    font-size: 16px;
    font-weight: 600;
    color: var(--gray);
}

.left-section p {
    color: var(--gray);
    font-size: 13px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
}

.circle {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-image:linear-gradient(0deg,  hsla(241, 72%, 46%, 0.1) , rgb(67, 24, 185));
} 

.score {
    font-size: 13px;
    color: var(--gray);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score span {
    font-weight: 800;
    font-size: 50px;
    color: var(--white);
}

.right-section {
    position: relative;
    background-color: var(--white);
    display: flex;
    margin-left: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px 0px gray;
    width: 15rem;
    height: 20rem;
    border-radius: 10px 10px;
}

.right-section h1 {

}

button {
    font-size: 12px;
    width: 80%;
    padding: 10px;
    font-weight: 800;
    margin-bottom: 20px;
    border-radius: 30px;
    color: var(--white);
    background-color: hsl(224, 30%, 27%);
}

.summary-sections {
    display: flex;
    width: 80%;
    justify-content: space-around;
    gap: 0.25rem;
    margin: auto auto;
    width: 100%;
}

.attribution { 
    font-size: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 100vh;
}

.attribution a { 
    text-decoration: none;
    color: hsl(228, 45%, 44%); 
}
